.button {
  color: #525252;
  background-color: lightgray;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.8em 2em;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
}

.buttonActive {
  color: #000;
  background: linear-gradient(180deg, #ffbb3b, #ffa90a);
}
