.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  justify-items: center;
  width: 100%;
}

.form > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 3rem;
  gap: 2rem;
  padding-block: 2rem;
}

.form > input[type='radio'] {
  transform: scale(1);
}
