.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.draggable {
  touch-action: manipulation;
}

.draggableContainer {
  height: 96px;
}

.experimentContainer {
  display: flex;
  align-items: center;

  height: 300px;
}
.sliderContainer {
  display: flex;
  transform: translatex(-60px);
}

.slider {
  width: 300px;
  transform: rotate(-90deg);
}

.glass {
  height: 300px;
  width: 150px;
  border: 2px solid black;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.glassFull {
  background: linear-gradient(#ffffff 20%, blue 20%);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
