.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  align-items: center;
  min-height: 100vh;
}

.headline {
  padding-top: 20px;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
}

.tableData {
  border: 1px solid black;
  text-align: center;
  padding: 6px;
  font-size: 20px;
  border-collapse: collapse;
}

.draggable {
  touch-action: manipulation;
}

.draggableContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 96px;

  .emptyBlock {
    height: 96px;
    width: 96px;
  }
}

.experimentContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
}
.sliderContainer {
  display: flex;
  justify-content: space-evenly;
  transform: translateX(-20px);
}

.valueContainer {
  position: absolute;
  transform: translatex(20px);
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: blue;
  color: white;
}

.slider {
  width: 300px;
  transform: rotate(-90deg);
}

.glass {
  height: 300px;
  width: 150px;
  border: 2px solid black;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateX(-60px);
  background: linear-gradient(#ffffff 40%, blue 40%);
}

.glassFull {
  background: linear-gradient(#ffffff 20%, blue 20%);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
