.glassFull {
  background: linear-gradient(#ffffff 20%, blue 20%);
}

.glassFullLower {
  background: linear-gradient(#ffffff 30%, blue 30%);
}

.blockFloat {
  align-self: center;
  margin-bottom: 100px;
}

.blockFloatHigh {
  align-self: flex-start;
  margin-top: 50px;
}
